# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories (update as necessary)
venv/

# Distribution files
build/
dist/
*.egg-info/

# Sensitive files (Firebase credentials)
firebase_key.json

.env