# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories (update as necessary)
venv/

firebase_key.json

# Distribution files
build/
dist/
*.egg-info/

# Sensitive files (Firebase credentials)
patch-40246-firebase-adminsdk-fbsvc-76101ed4f9.json

.env